@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins {
    font-family: var(--font-poppins);
}
.merriweather {
    font-family: var(--font-merriweather);
}
.opensans {
    font-family: var(--font-opensans);
}